*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', cursive;
}

/* Navbar*/

.navbar-nav > li{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul li:hover a{
    color: aqua!important;
    background-color: red;
    transform: scale(1.2);
    transition: transform 0.5s;
}
.nav-link{
    font-size: 20px;
    font-weight: bold;
}
.navbar-brand{
    font-size: 25px;
    font-weight: bold;
}
.navbar-brand:hover{
    color: aqua!important;
    transform: scale(1.1);
    transition: transform 0.5s;
}