*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Libre Bodoni', serif;
}

/*Heading & Navbar*/

#heading{
    letter-spacing: 2px;
    font-size: 0.875em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}
h3{
    font-family: 'Libre Bodoni', serif;
}
.navbar-nav > li{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}
ul li:hover a{
    color: white !important;
    background-color: red;
    border-radius: 5px;
    transform: scale(1.1);
    transition: transform 0.5s;
}
.nav-link{
    font-size: 17px;
}
.navbar-brand{
    font-size: 25px;
}
.navbar-brand:hover{
    color: red !important;
    transform: scale(1.1);
    transition: transform 0.5s;
}

/*Carousel*/

.carousel-inner img{
    opacity: 0.6;
}
.carousel-caption{
    color: black;
    font-size: 50px;
    font-weight: bold;
    /*color:white;
    background-color:rgb(64, 59, 59);*/
    border-radius: 100%;
    margin-bottom: 200px;
}
.carousel-caption:hover {
    background-color: rgb(255, 0, 0) !important;
    transition: background-color 0.5s !important;
}
.card-title{
    color: red;
}
.card-text{
    color: black;
}

/*Categories*/

#h{
    text-align:center;
    margin: 0 auto 80px;
    position:relative;
    line-height: 60px;
    color:#555
}
#h::after{
    content:'';
    background:red;
    width: 280px;
    height: 5px;
    border-radius: 5px;
    position:absolute;
    bottom: 0;
    left:50%;
    transform:translateX(-50%);
}

#c:hover{
    color: white !important;
    background-color: white;
    transform: scale(1.1);
    transition: transform 0.5s;
    cursor: pointer;
}
.card{
    cursor: pointer;
}

/*Footer*/

footer {
    padding-top: 20px;
    padding-bottom: 20px;
}
.imag:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}
.communication:hover{
    color: red;
}
.communication{
    text-decoration: none;
    list-style: none;
    letter-spacing: 3px;
    font-size: 0.875em;
}
a:hover{
    text-decoration: none!important;
    list-style: none;
}