*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Cormorant Garamond', serif;
}

/* Navbar*/

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul li:hover a{
    background-color: rgb(251, 57, 57);
    color: #FFF!important;
    transform: scale(1.2);
    transition: transform 1s;
}