*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

/*Heading & Navbar*/

.navbar-brand{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
}

.navbar-brand:hover{
    color: rgba(70, 12, 24, 0.963) !important;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.navbar-nav > li{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}

ul li:hover a{
    color: rgba(70, 12, 24, 0.963) !important;
    transform: scale(1.2);
    transition: transform 0.5s;
}

.nav-link{
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
}

/*Carousel*/

.carousel-inner img{
    opacity: 0.6;
}

.carousel-caption{
    color: black;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Libre Bodoni', serif;
    border-radius: 100%;
    margin-bottom: 200px;
}

.carousel-caption:hover {
    background-color: rgb(216, 226, 243) !important;
    opacity: 0.6;
    transition: background-color 0.5s !important;
}

/*Categories*/

a{
    text-decoration: none!important;
}

.card-title{
    color: red;
    font-family: 'Libre Bodoni', serif;
    font-size: 20px;
}

#h{
    text-align:center;
    margin: 0 auto 80px;
    position:relative;
    line-height: 60px;
    color:#555;
    font-size: 40px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bolder;
}

#h::after{
    content:'';
    background:red;
    width: 280px;
    height: 5px;
    border-radius: 5px;
    position:absolute;
    bottom: 0;
    left:50%;
    transform:translateX(-50%);
}

#c:hover{
    color: white !important;
    background-color: white !important;
    transform: scale(1.1);
    transition: transform 0.5s;
    cursor: pointer;
}

.card{
    cursor: pointer;
}

#l{
    font-family: 'Libre Bodoni', serif;
}

/*Footer*/

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:lightsteelblue; 
    color:black; 
    border-radius: 20px;
    font-family: 'Cormorant Garamond', serif;
}

.imag:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}

a:hover{
    text-decoration: none!important;
    list-style: none;
}

.fn{
    text-decoration: none;
    list-style: none;
    letter-spacing: 3px;
    font-size: 1em;
}

.fn-1{
    text-decoration: none;
    list-style: none;
    letter-spacing: 3px;
    font-size: 1em;
    font-family: 'Libre Bodoni', serif;
}

.links{
    color: black;
    text-decoration: none;
    list-style: none;
    letter-spacing: 3px;
    font-size: 1em;
    font-family: 'Libre Bodoni', serif;
}

.links:hover{
    color: red !important;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.communication{
    text-decoration: none;
    list-style: none;
    letter-spacing: 3px;
    font-size: 1em;
    font-family: 'Libre Bodoni', serif;
}

.communication:hover{
    color: red !important;
}

/* menu page */

.card-text{
    font-family: 'Cormorant Garamond', serif;
}
.col-lg-3{
    display: flex;
    flex-direction: row;
}
#crd:hover{
    opacity: 0.8;
    transform: scale(1.1);
    transition: transform 0.5s;
}

/*Category headings*/

#cat{
    margin: 0 auto 15px;
    position:relative;
    line-height: 60px;
    color: navy;
    font-size: 40px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bolder;
}