{% load static %}

<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!--w3-css-->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@700&display=swap" rel="stylesheet">

        <!-- my css-->
        {% comment %} Made changes {% endcomment %}
        <link rel="stylesheet" href="{% static 'my_css.css' %}">

        <!--owl carousel css-->
        <link rel="stylesheet" href="{% static 'owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'owl.theme.default.min.css' %}">

        <!--Google Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap" rel="stylesheet">
        <title>The Cafe Project</title>
    </head>

    <body>
        <!--Navbar-->

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">The Cafe Project</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home'%}"><i class="fa fa-home"
                                    aria-hidden="true"></i>&nbsp;&nbsp;Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'menu'%}"><i class="fa fa-cutlery"
                                    aria-hidden="true"></i>&nbsp;&nbsp;Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#"><i class="fa fa-info-circle"
                                    aria-hidden="true"></i>&nbsp;&nbsp;About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Categories</h3>
	<div class="row">
		{% if data %}
			{% for cat in data %}
			
				<!--<a href="#"><img src="/media/{{cat.image}}" class="card-img-top" alt="{{cat.title}}" style=" height:150px;"/></a>-->
				
					<a href="/category-menu-list/{{cat.id}}">{{cat.title}}</a>
				
			{% endfor %}
		{% endif %}
	</div>
</main>